@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header-link {
  @apply flex h-full items-center justify-center text-sm font-semibold text-white hover:text-black md:text-base;
}

.header-link.active {
  @apply text-black;
}
